body {
    line-height: 2.429;
}

h2 {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.navbar {
    margin-bottom: 12px;
}

hr {
    margin-left: 10px;
    margin-right: 10px;
}

#choose {
    margin-left: 30px;
}

ul {
    list-style-type: none;
}

#teamItem {
    padding: 5px;
}
ul > li > a {
    color: black;
    text-decoration: none;
}
ul > li > a:hover {
    color: black;
    cursor:pointer;
}

ul > li > img {
    width:70px;
    height:70px;
    box-sizing: border-box;
}

#player {
    font-size: 20px;
    margin-bottom: 50px;
}

@media (max-width: 455px){
    #player {
        font-size: 12px;
    }
}


.form-control {
    width:auto;
    display:inline-block;
}