body {
    line-height: 2.429;
    background-image: url('../img/background.jpg');
    background-size: 1600px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
    color: #d58512;
    font-style: oblique;
    font-variant: diagonal-fractions;
    font-family: "Georgia";
}

.navbar {
    margin-bottom: 12px;
}

hr {
    margin-left: 10px;
    margin-right: 10px;
}

#choose {
    margin-left: 30px;
}

ul {
    list-style-type: none;
}

#teamItem {
    padding: 5px;
}
ul > li > a {
    color: black;
    text-decoration: none;
}
ul > li > a:hover {
    color: black;
    cursor:pointer;
}

ul > li > img {
    width:70px;
    height:70px;
    box-sizing: border-box;
}

#player {
    font-size: 20px;
    margin-bottom: 50px;
}

@media (max-width: 455px){
    #player {
        font-size: 12px;
    }
}


.form-control {
    width:auto;
    display:inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #d58512;
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
    background-color: #fff0c2;
}

.table-striped{
    border: solid;
}
th{
    background-color: black;
    font-size: 12px;
}

.propDugme{
    background-color: black;
    border: black;
    color: darkorange;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 2px;
}
.sortorder:after {
    content: '\25b2';
}
.sortorder.reverse:after {
    content: '\25bc';   /* BLACK DOWN-POINTING TRIANGLe */
}

.big-h1{
    color: #d58512;
    font-style: oblique;
    font-variant: diagonal-fractions;
    font-family: "Georgia";
}

.img-circle {
    max-width: 100%;
    height: auto;
}

a{
    color: #761c19;
    font-weight: bold;
}

.velikiLink{
    padding-left: 50px;
    font-size: 20px;
}

.playerName {
    margin-left: 85px;
    color: #d58512;
    font-size: 25px;
    font-weight: bold;
}

table.playerInfo > tbody > tr > td {
    padding-right: 20px;
}

table.playerInfo > tbody > tr > td:nth-child(1) {
    font-weight: bold;
}

table.playerInfo {
    float: right;
    margin-right: 50%;
    color: #ffe58f;
}

.span3.well {
    background-color: transparent;
    border: none;
}