<div id="wrapper">

    <div id="page-wrapper">
        <h2>Games</h2>
        <hr>
        <div class="container">
            <form>
                <select class="form-control col-xs-4" id="sel4" ng-change="prikazi()" ng-model="seasonPart">
                    <option>Full Season</option>
                    <option>Regular Season</option>
                    <option>October</option>
                    <option>November</option>
                    <option>December</option>
                    <option>January</option>
                    <option>February</option>
                    <option>March</option>
                    <option>April</option>
                    <option>May</option>
                    <option>Top 16</option>
                    <option>Playoffs</option>
                    <option>Final Four</option>
                </select>
                <select class="form-control col-xs-4" id="sel2" ng-change="prikazi()" ng-model="week">
                    <option>All Weeks</option>
                    <option ng-repeat="n in [].constructor(31) track by $index">
                        Week {{ $index + 1 }}
                    </option>
                </select>
                <select class="form-control col-xs-4" id="sel3" ng-change="prikazi()" ng-model="team">
                    <option>All Teams</option>
                    <option ng-repeat="team in teams | orderBy:'Name'">{{team.teamName}}</option>
                </select>
            </form>
        </div>
        <br>
        <div align="center"><img class="animated infinite bounce" src="img/ball.png" height="50" width="50" ng-show = "loading"></div>
        <div align="center" ng-show = "loading">Loading...</div>
        <div class="container">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th ng-repeat="h in headers">
                        <button class='propDugme' ng-click="sortBy(h.nameOfProperty)">{{h.name}}</button>
                        <span class="sortorder" ng-show="propertyName === h.nameOfProperty" ng-class="{reverse: reverse}"></span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="game in games | orderBy:propertyName:reverse ">
                    <td ng-repeat="h in headers">
                        <a href="#/games/{{game.gameCode}}" ng-show="isNameProp(h.nameOfProperty)">
                            {{p[h.nameOfProperty]}}
                        </a>
                        <span ng-hide="isNameProp(h.nameOfProperty)">
                            {{game[h.nameOfProperty]}}
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>