<h1 class='big-h1' align="center"> Basketball Statistics</h1>

<div>
    <br><br><br>
</div>
<div id = 'teren' style="text-align: center;" onclick="return false;">
    <button class="kos" ng-click="animacija('players', 1)">
        <img src="img/kos.png" width="70">
        <br/>
        Players
    </button>
    <button class="kos" ng-click="animacija('teams', 2)">
        <img src="img/kos.png" width="70">
        <br/>
        Teams
    </button>
    <button class="kos" ng-click="animacija('games', 3)">
        <img src="img/kos.png" width="70">
        <br/>
        Games
    </button>
    <button class="kos" ng-click="animacija('referees', 4)">
        <img src="img/kos.png" width="70">
        <br/>
        Referees
    </button>

</div>