<div>
    <div class="span3 well">
        <a href="#" data-toggle="modal" data-target="#myModal"><img
                src="{{player.photoURL}}"
                name="aboutme" width="22%" height="165" class="img-circle"></a>
        <table class = "playerInfo">
            <tbody >
            <tr>
                <td>Height</td>
                <td>{{player.height}} cm</td>
            </tr>
            <tr>
                <td>Nationality</td>
                <td>{{player.nationality}}</td>
            </tr>
            <tr>
                <td>Born</td>
                <td>{{player.bornDate | date}}</td>
            </tr>
            <tr>
                <td>Position</td>
                <td>{{player.playerPos}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="span3" >
        <h4 class = "playerName">{{player.playerName}}</h4>
    </div>
    <br>
    <div class="container">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th ng-repeat="h in headers">
                    <button class='propDugme' ng-click="sortBy(h.nameOfProperty)">{{h.name}}</button>
                    <span class="sortorder" ng-show="propertyName === h.nameOfProperty"
                          ng-class="{reverse: reverse}"></span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="p in pStats | orderBy:propertyName:reverse">
                <td ng-repeat="h in headers">
                            {{p[h.nameOfProperty]}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>