<div id="wrapper">

    <div id="page-wrapper">
        <h2>Players</h2>
        <hr>
        <div class="container">
            <form>
                <select class="form-control col-xs-4" id="sel1" ng-change="prikazi()" ng-model="selected1">
                    <option>Accumulated Statistics</option>
                    <option>Average - Per Game</option>
                    <option>nesto</option>
                    <option>nesto jos</option>
                </select>
                <select class="form-control col-xs-4" id="sel2" ng-change="prikazi()" ng-model="selected2">
                    <option>All Teams</option>
                    <option ng-repeat="team in teams | orderBy:'Name'" >{{team.Name}}</option>
                </select>
                <select class="form-control col-xs-4" id="sel3" ng-change="prikazi()" ng-model="selected3">
                    <option>Full Season</option>
                    <option ng-repeat="team in teams">{{team.Name}}</option>
                </select>
            </form>
        </div>
        <br>
        <br>
        <div class="container">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                   <!-- <th ng-repeat="header in headers"> {{header.name}}</th> -->
                    <th>
                        <button ng-click="sortBy('playerName')">Name</button>
                        <span class="sortorder" ng-show="propertyName === 'playerName'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th>
                        <button ng-click="sortBy('playerHeight')">Height</button>
                        <span class="sortorder" ng-show="propertyName === 'playerHeight'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th>
                        <button ng-click="sortBy('nationality')">Nationality</button>
                        <span class="sortorder" ng-show="propertyName === 'nationality'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th>
                        <button ng-click="sortBy('team')">Team</button>
                        <span class="sortorder" ng-show="propertyName === 'team'" ng-class="{reverse: reverse}"></span>

                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="player in players | orderBy:propertyName:reverse " >
                    <!-- <td ng-repeat="header in headers">{{player.(header.name)}}</td> -->
                    <td><a href="#/player/{{player.playerID}}">{{player["2ft/54"]}}</a></td>
                    <td>{{player.playerHeight}}cm</td>
                    <td>{{player.nationality}}</td>
                    <td>{{player.team}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>