<div id="wrapper">

    <div id="page-wrapper">
        <h2>Players</h2>
        <hr>
        <div class="container">
            <form>
                <select class="form-control col-xs-4" id="sel1" ng-change="prikazi()" ng-model="statisticType">
                    <option>Accumulated Statistics</option>
                    <option>Average | Per Game</option>
                    <option>Average | Per 28 Minutes</option>
                    <option>Average | Per 50 Possessions</option>
                    <option>Average | Per 36 Minutes</option>
                    <option>Average | Per 100 Possessions</option>
                    <option>Details</option>
                    <option>Clutch Performance</option>
                    <option>Performance | For</option>
                    <option>Performance | Against</option>
                    <option>Advanced Statistics</option>
                    <option>On Court - Off Court</option>
                </select>
                <select class="form-control col-xs-4" id="sel2" ng-change="prikazi()" ng-model="team">
                    <option>All Teams</option>
                    <option ng-repeat="team in teams | orderBy:'Name'" >{{team.teamName}}</option>
                </select>
                <select class="form-control col-xs-4" id="sel3" ng-change="prikazi()" ng-model="position" >
                    <option>All Positions</option>
                    <option>PG</option>
                    <option>SG</option>
                    <option>SF</option>
                    <option>PF</option>
                    <option>C</option>
                </select>
                <select class="form-control col-xs-4" id="sel4" ng-change="prikazi()" ng-model="seasonPart">
                    <option>Full Season</option>
                    <option>Regular Season</option>
                    <option>October</option>
                    <option>November</option>
                    <option>December</option>
                    <option>January</option>
                    <option>February</option>
                    <option>March</option>
                    <option>April</option>
                    <option>May</option>
                    <option>Top 16</option>
                    <option>PLayoffs</option>
                    <option>Final Four</option>
                </select>
                <select class="form-control col-xs-4" id="sel5" ng-change="prikazi()" ng-model="week">
                    <option>All Weeks</option>
                    <option ng-repeat="n in [].constructor(31) track by $index">
                        Week {{ $index + 1 }}
                    </option>
                </select>
            </form>
        </div>
        <br>
        <br>
        <div class="container">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                   <!-- <th ng-repeat="header in headers"> {{header.name}}</th> -->
                    <th>
                        <button ng-click="sortBy('playerName')">Name</button>
                        <span class="sortorder" ng-show="propertyName === 'playerName'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th>
                        <button ng-click="sortBy('playerHeight')">Height</button>
                        <span class="sortorder" ng-show="propertyName === 'height'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th>
                        <button ng-click="sortBy('nationality')">Nationality</button>
                        <span class="sortorder" ng-show="propertyName === 'nationality'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th>
                        <button ng-click="sortBy('team')">Team</button>
                        <span class="sortorder" ng-show="propertyName === 'team'" ng-class="{reverse: reverse}"></span>

                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="player in players | orderBy:propertyName:reverse " >
                    <!-- <td ng-repeat="header in headers">{{player.(header.name)}}</td> -->
                    <td><a href="#/player/{{player.playerID}}">{{player.playerName}}</a></td>
                    <td>{{player.playerHeight}}cm</td>
                    <td>{{player.nationality}}</td>
                    <td>{{player.team}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>