<div>
    <div class="span3 well">
        <a href="#" data-toggle="modal" data-target="#myModal"><img
                src="{{referee.photoURL}}"
                name="aboutme" width="330" height="165" class="img-circle"></a>
    </div>

    <div class="container">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th ng-repeat="h in headers">
                    {{h.headerText}}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td ng-repeat="h in headers">
                    {{referee[h.nameOfProperty]}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>