<div id="wrapper">

    <div id="page-wrapper">
        <h2>Referees</h2>
        <hr>

        <div class="container">
            <form>
                <select class="form-control col-xs-4" id="sel1" ng-change="prikazi()" ng-model="team">
                    <option>All Teams</option>
                    <option ng-repeat="team in teams | orderBy:'Name'">{{team.teamName}}</option>
                </select>
                <select class="form-control col-xs-4" id="sel2" ng-change="prikazi()" ng-model="seasonPart">
                    <option>Full Season</option>
                    <option>Regular Season</option>
                    <option>October</option>
                    <option>November</option>
                    <option>December</option>
                    <option>January</option>
                    <option>February</option>
                    <option>March</option>
                    <option>April</option>
                    <option>May</option>
                    <option>Top 16</option>
                    <option>Playoffs</option>
                    <option>Final Four</option>
                </select>
            </form>
        </div>
        <br>
        <br>
        <div class="container">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th ng-repeat="h in headers">
                        <button ng-click="sortBy(h.nameOfProperty)">{{h.headerText}}</button>
                        <span class="sortorder" ng-show="propertyName === h.nameOfProperty" ng-class="{reverse: reverse}"></span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="referee in referees | orderBy:propertyName:reverse ">
                    <td ng-repeat="h in headers">
                        <a href="#/referees/{{referee.refereeID}}" ng-show="isNameProp(h.nameOfProperty)">
                            {{referee[h.nameOfProperty]}}
                        </a>
                        <span ng-show="!isNameProp(h.nameOfProperty)">
                                {{referee[h.nameOfProperty]}}
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>