<div id="wrapper">
    <div id="page-wrapper">
        <h2>Teams</h2>
        <hr>
        <div class="container">
            <form>
                <select class="form-control col-xs-4" id="sel1" ng-change="sortiranje()" ng-model="selected1">
                    <option>Accumulated Statistics</option>
                    <option>Average - Per Game</option>
                    <option>nesto</option>
                    <option>nesto jos</option>
                </select>
                <select class="form-control col-xs-4" id="sel2" ng-change="sortiranje()" ng-model="selected2">
                    <option>All Teams</option>
                    <option ng-repeat="team in teams">{{team.Name}}</option>
                </select>
                <select class="form-control col-xs-4" id="sel3" ng-change="sortiranje()" ng-model="selected3">
                    <option>Full Season</option>
                    <option ng-repeat="team in teams">{{team.Name}}</option>
                </select>
            </form>
        </div>
        <br>
        <br>
        <div class="container">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Team</th>
                    <th>Photo</th>
                    <th>Country</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="team in teams">
                    <td>{{team.Name}}</td>
                    <td>{{team.photoUrl}}</td>
                    <td>{{team.Country}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>