<div id="wrapper">
    <div id="page-wrapper">
        <h2>Teams</h2>
        <hr>
        <div class="container">
            <form>
                <select class="form-control col-xs-4" id="sel1" ng-change="prikazi()" ng-model="selected1">
                    <option>Accumulated Statistics</option>
                    <option>Average - Per Game</option>
                    <option>nesto</option>
                    <option>nesto jos</option>
                </select>
                <select class="form-control col-xs-4" id="sel2" ng-change="prikazi()" ng-model="selected2">
                    <option>All Teams</option>
                    <option ng-repeat="team in teams | orderBy:'Name'">{{team.Name}}</option>
                </select>
                <select class="form-control col-xs-4" id="sel3" ng-change="prikazi()" ng-model="selected3">
                    <option>Full Season</option>
                    <option ng-repeat="team in teams">{{team.Name}}</option>
                </select>
            </form>
        </div>
        <br>
        <br>
        <div class="container">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>
                        <button ng-click="sortBy('Name')">Team</button>
                        <span class="sortorder" ng-show="propertyName === 'Name'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th>
                        <button ng-click="sortBy('photoUrl')">Photo</button>
                        <span class="sortorder" ng-show="propertyName === 'photoUrl'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th>
                        <button ng-click="sortBy('Country')">Country</button>
                        <span class="sortorder" ng-show="propertyName === 'Country'" ng-class="{reverse: reverse}"></span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="team in teams | orderBy:propertyName:reverse">
                    <td>{{team.Name}}</td>
                    <td>{{team.photoUrl}}</td>
                    <td>{{team.Country}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>